@import url('http://fonts.cdnfonts.com/css/scientific-calculator-lcd');

* {
    font-family: 'Scientific Calculator LCD';
    
}        


.holder {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.container {
    margin-top: 200px;
    margin-left:auto;
    margin-right: auto;
    border: solid;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(252, 246, 196);
    border-radius: 20px;
    padding: 10px;
}

.clearDelete {
    display: flex;
    justify-content: space-around;
    height: 70px;
    gap: 10px;
    padding: 10px;
    
}

#deleteBtn {
    flex-grow: 1;
    border-radius: 10px;
    background-color:lightcoral;
    font-size: 20px;
}

#clearBtn {
    flex-grow: 1;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 20px;
}


.calcButtons {
    padding: 10px;
    height: 430px;
    /* border: solid; */
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.btn {
    border-radius: 10px;
    margin: 3px;
    font-size: large;
}



.display {
    margin: 10px;
    border: solid;
    padding: 30px;
    background-color: rgb(239, 239, 239);
    border-radius: 12px;
    text-align: right;
    font-size: 25px;
    
}